<div>
  <form #forgotPassword="ngForm" novalidate>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="example-card" style="width:30%;margin-left: 30%">
      <mat-card-header>
        <mat-card-title>Find your Password</mat-card-title>
        <mat-card-title style="font-family: 'Courier New', Courier, monospace">Enter your recovery email</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-grid-list cols="1" row="2" rowHeight="70px" gutterSize="5px">
          <mat-grid-tile>
            <mat-icon prefix style="margin-left: 3rem;">email </mat-icon>
            <mat-form-field style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput id="email" name="email" type="email" placeholder="Email"
                [(ngModel)]="forgotPassword.userName" #email="ngModel" required email />
              <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <mat-error *ngIf="email.errors.required"> Email is Required</mat-error>
                <mat-error *ngIf="email.errors.email">Email must be a valid email address</mat-error>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="forgotPassword.invalid">forgotPassword</button>
        <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>